*vxlog*
*.pem
*.crt
*.key
id.rsa
id_rsa
*.pub
*.log
*.jar
*.class
*.bak
*.tmp
*.temp
*.back
*/log/*
*.err
*script/cmds/*
personal/data/*
ripple-dev-base.box
.vagrant
*.tgz
*.tar.gz
.creds/*
config/u-*
config/dkrgs.sh
connect/ripple-connect
